body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 12px;
    color: white;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    
}



/* ======================================================================== Navbar   ========================= */ 
.header-nightsky .navbar-nav>li>a {
    color: white;
    font-size: 18px;
    border-radius: 10px;
}

.header-nightsky .navbar {
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    border-bottom:none;
    background-color: transparent;
    min-width: 300px;
    border: none;
}

.header-nightsky .navbar-default .navbar-nav>.open>a,
.header-nightsky .navbar-default .navbar-nav>.open>a:focus,
.header-nightsky .navbar-default .navbar-nav>.open>a:hover {
    color: #ccc;
    background-color: transparent;
}

.header-nightsky .nav>li>a:focus,
.header-nightsky .nav>li>a:hover {
    color: #ccc;
    background-color: transparent;
}

.header-nightsky .navbar-nav>li {
    margin-right: 20px;
}

.header-nightsky .navbar-nav {
   margin-top: 12px;
 }

.header-nightsky .navbar-toggle {
    background-color: transparent !important;
    margin-top: 20px;
    border: 1px solid #fff;
}

.header-nightsky .navbar-toggle .icon-bar {
    background-color: white;
}

.header-nightsky .navbar-brand {
    color: white;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header-nightsky .navbar-brand:hover {
    color: #ccc;
}

/* ========================================================================   Navbar  ======================= */


/* Navbar small screen */

@media screen and (max-width: 767px) {

    .header-nightsky .navbar-default .navbar-nav .open .dropdown-menu>li>a{
        color: #fff;
        font-size: 16px;
    }

    .header-nightsky .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
        color: #ccc;
    }

    .header-nightsky .navbar-collapse {
        margin-left: 20px;
        border-top: none;
        box-shadow: none;
    }

    .header-nightsky .hero{
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .header-nightsky .hero h1{
        font-size: 42px;
    }
}

/* Navbar small screen */


/* ====================================================================   Hero   ============================= */
.header-nightsky .hero {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 100px;
}

.header-nightsky .hero h1 {
    color: white;
    font-weight: bold;
    font-size: 90px;
    font-family: 'Arizonia', cursive;
    margin-bottom: 36px;
}

.header-nightsky .hero p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 22px;
    max-width: 660px;
    margin: 0 auto 20px;
    font-weight: normal;
    line-height: 1.5;
}

.header-nightsky .btn-primary {
    color: #fff;
    background-color: transparent;
    border-color: #fffbfb !important;
    outline:none;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 24px;
    padding: 18px 24px;
    transition:0.2s background-color;
}

.header-nightsky .btn-primary:hover {
    background-color:rgba(255,255,255,0.5);
}

.header-nightsky .btn-primary:active {
    transform:translateY(1px);
}


video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background: url(images/wireframe2.png) no-repeat;
    background-size: cover;
    z-index: -1;
}
.myButton {
    background: ;
    margin: 0 auto;
    width: 200px;
    height: 200px;
}
/* Hero */


/*   =========================================================================================   MainBox Front Page   ========================= */
.mainBox {
    background-color: transparent;  
    height: 100%;
}

.background {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizonal;
    flex-direction: row;
    
    -wekit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    justify-content: center;
    
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    align-items: center;
    
    background-color: white;
    height: 100%;
    flex-wrap: wrap;
}

.indBox {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    
    padding: 10px;
    margin: 10px;
    
    background: rgba(83,190,245,0.2);
    text-align: center;
}

.mainBox p {
    color: black;
    font-size: 2em;
}

#image3 {
    max-width: 50%;
    padding: 10px;
}



/*   =========================================================================================   MainBox Front Page   ========================= */












#aboutpic {
    height: 25%;
    width:25%;
}






.container p {
    color: black;
}



li{
    text-align: left;
}

p {
    padding: 5vw;;
    color: black;
}




















/* Portfolio Section */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.centered {
	text-align: center
}


.mt {
	margin-top: 80px;
}

.mb {
	margin-bottom: 80px;
}

/* Portfolio Section */




/* Social Icons */

#social {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #f2f2f2;
}

#social i {
	font-size: 40px;
	color: #53bef5;
    margin-left: auto;
    margin-right: auto;
}

#social i:hover {
	color: #48dcdc
}

/* Social Icons */


/* Footer */

#footerwrap {
	padding-top: 70px;
	padding-bottom: 50px;
	background-color: #2f2f2f;
}

#footerwrap p {
	color: #f2f2f2;
	margin-left: 10px;
}

/* Footer */

#workwrap {	
	background: url(../img/work.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-shadow: 1px 2px black;
}

#workwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
    text-shadow: 1px 2px black;
}

#workwrap h4 {
	font-weight: 400;
	color: #ffffff;
    text-shadow: 1px 2px black;
}

#workwrap2 {	
	background: url(../img/UXUI2.png) no-repeat center top;
	margin-top: 0px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 750px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#workwrap2 h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
    text-shadow: 1px 2px black;
}

#workwrap2 h4 {
	font-weight: 400;
	color: #ffffff;
    text-shadow: 1px 2px black;
 }

#aboutwrap {	
	background: url(../img/flower.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 550px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* Gallery */
.gallery {
	margin-top: 30px;
}

.gallery img:hover {
	opacity: 0.4;
}






.centered p {
    padding: 0vw;
    font-size: 14px;
    margin: 
}

.indBox h4 {
    color: white;
}

#image1 {
    max-width: 25%;
    float: left;
    padding: 20px;
}

#image2 {
    max-width: 25%;
    float: right;
    padding: 20px;
}



#image4 {
    max-width: 25%;
    float: right;
    padding: 20px;
}
#image5 {
    max-width: 25%;
    float: right;
    padding: 20px;
}
#image6 {
    max-width: 25%;
    float: right;
    padding: 20px;
}
#image7 {
    max-width: 25%;
    float: right;
    padding: 20px;
}
#image8 {
    max-width: 25%;
    float: right;
    padding: 20px;
}
#image9 {
    max-width: 25%;
    float: right;
    padding: 20px;
}
#image10 {
    max-width: 25%;
    float: right;
    padding: 20px;
}
#image11 {
    max-width: 25%;
    float: right;
    padding: 20px;
}

header { 
  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex;
}
header div { 
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  width: 200px; 
  margin: .5vw; 
}
header div img { 
  width: 100%; 
  height: auto; 
}


.resume-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: tomato;
  padding: 5px;
  width: 75%;
  height: 75%;
  margin-top: 10px;
  
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}




/* Media Queries */

@media screen and (min-width: 600px) {
    body {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        color: white;
    }
    .navbar-collapse li {
    font-size: 16px;
    }
    
}

@media only screen and (max-width: 900px) {
    #image1 {
        max-width: 40%;
    }
    #image2 {
        max-width: 40%;
    }
    #image3 {
        max-width: 60%;
    }
}

@media only screen and (max-width: 600px) {
    #image1 {
        max-width: 50%;
    }
}

@media only screen and (max-width: 400px) {
    #image1 {
        max-width: 50%;
    }
    
}