body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
}

/* Navbar and Video */

    /*  Navbar  */

.video-container .navbar-brand {
    color: white;
    font-size: 5em;
    font-family: 'Arizonia', cursive;
    margin-top: 3vh;
}

.navbar-brand2 {
    position: fixed;
    color: white;
    font-size: 1.9vh;
    margin-top: 8vh;
    margin-left: -5vw;
}

.navigation {
    position: fixed;
    background-color: rgb(121,114,91);
	box-shadow:0 1px 1px #ccc;
	height: 12vh;
    width: 100%;
	box-sizing: border-box;
}

.video-container .navbar-nav>li>a {
    color: white;
    font-size: 18px;
    border-radius: 10px;
    top: 3vh;
}

.video-container .navbar-nav>li>a:hover {
    color: #000000;
}

.video-container .navbar-nav>li {
    margin-right: 20px;
}

.video-container .navbar-nav {
   margin-top: 12px;
}

.video-container .navbar-brand:hover {
    color: #000000;
}

    /* Navbar */

/* Hamburger Menu */

.navigation .navbar-toggle {
    background-color: transparent !important;
    margin-top: 10px;
    border: 1px solid #fff;
}

.navigation .navbar-toggle .icon-bar {
    background-color: white;
}

/* Hamburger Menu End */


    /*  Video  */

video {
    width: 100%;
    height: auto;
}

.video-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    max-width: 100%;
}

.video-container .overlay{
    position: absolute;
    width: 100%;
    height:38%;
    opacity:0.5;
    z-index:999;
}

.video-container .overlay .text-container{
    width:100%;
    text-align:center;
    top: 200px;
    margin-top: 300px;
}

.video-container .overlay .text-container h1{
    color:#FFF;
    text-transform:uppercase;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
    /*  Video */

/* Navbar and Video End */

                        /* Main Page */

#space {
    height: 16vh;
}

.wrapperTitles {
    font-size: 4vh;
    margin: 50px;
   
    padding-left: 23vw;
}

.mainWrapper{
    width:95vw; 
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
    background-color: rgba(121,114,91,0.2);
	box-shadow:0px 0px 5px #000;
	-moz-box-shadow:0px 0px 5px #000;
	-webkit-box-shadow:0px 0px 5px #000;
	-o-box-shadow:0px 0px 5px #000;
	text-align:left;
	padding:15px;
	margin:5px auto;
    font-size: 3vh;
}

.mainWrapperOne{
    width:95vw; 
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
    background-color: rgba(121,114,91,0.2);
	box-shadow:0px 0px 5px #000;
	-moz-box-shadow:0px 0px 5px #000;
	-webkit-box-shadow:0px 0px 5px #000;
	-o-box-shadow:0px 0px 5px #000;
	text-align:left;
	padding:15px;
	margin:5px auto;
    font-size: 3vh;
}

img#one {
    height: 300px;
    float: left;
    margin: 0 0 10px 10px;
}

img {
    height: 400px;
    float: right;
    margin: 0 0 10px 10px;
}


.background {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizonal;
    flex-direction: row;
    
    -wekit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    justify-content: center;
    
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    align-items: center;
    
    background-color: none;
    height: 100%;
    flex-wrap: wrap;
}

.indBox {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 10px;
    margin: 10px;
    
    background-color: rgba(121,114,91,0.2);
    text-align: center;
}

#image1 {
    height: 300px;
    float: left;
    margin: 0 0 10px 10px;
}

.mainWrapperOne > .background > .indBox > p#info {
    font-size: 0.7em;
    
}

#image2 {
    height: 300px;
    margin: 0 0 10px 10px;
    float: right;
}

#image3 {
    height: 300px;
    margin: 0 0 10px 10px;
    float: left;
    
}

#image4 {
    height: 100%;
    width: 100%;
    margin: 0 0 10px 10px;
    
}

.space {
    height: 12vh;
    background-color: white;
}

.mainWrapperOne > p{

}

.main {
    background-color: antiquewhite;
    width: 100%;
    height: 30vh;
    margin-top: -25px;
}

h1#subtitle {
    color: white;
    font-size: 3em;
    font-family: 'Arizonia', cursive;
    margin-top: 3vh;
    
}

.private-event {
    background-image: url('images/table-setting-1170331_1920.jpg');
}

.jumbotron {
    display: flex;
    align-items: center;
    background-image: url(../images/photo-1459664018906-085c36f472af.jpg);
    background-size: cover;
    color: #ffffff;
    height: 500px;
    text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotrzon2 {
    display: flex;
    align-items: center;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    height: 500px;
    background-color: rgb(121,114,91);
}

.jumbotron h2 {
    font-family: 'Arizonia', cursive;
    font-size: 60px;
    font-weight: 700;
    margin: 0;
    color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

.container-portfolio {
    background-color: rgba(121,114,91,0.2);
    text-align: center;
}

section .row img {
    margin: 0 0 30px;
    width: 100%;
    border-radius: 4px;
}

.col-md-6 {
  margin: 0 0 20px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}


/* The contact form */


.mainWrapper form{
	display: block; 
}

.mainWrapper form input,
.mainWrapper form textarea{
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #1f2022;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;

	font: inherit;
	font-size: 14px;
	font-weight: normal;
	color:  #d1d2d2;

	width: 400px;
	padding: 18px;
}

/*  footer  */


.footer-distributed{
	background-color: rgba(121,114,91,0.3);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
	text-align: center;
	padding: 50px 60px 40px;
	margin-top: 0px;
	overflow: hidden;
}

.footer{
	color:  #000;
	
	margin: 0 0 10px;
}

/* Footer social icons */

.footer-distributed .footer-icons{
	margin-top: 40px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}

.footer-distributed ::-webkit-input-placeholder {
	color:  #5c666b;
}

.footer-distributed ::-moz-placeholder {
	color:  #5c666b;
	opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
	color:  #5c666b;
}


.footer-distributed form input{
	height: 45px;
	margin-bottom: 15px;
}

.footer-distributed form textarea{
	height: 80px;
	margin-bottom: 20px;
}

.footer-distributed form button{
	border-radius: 3px;
	background-color:  #33383b;
	color: #ffffff;
	border: 0;
	padding: 15px 50px;
	font-weight: bold;
	float: right;
}

@media (max-width: 1000px) {

	.footer-distributed {
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-company-name{
		font-size: 12px;
	}

	.footer-distributed form input,
	.footer-distributed form textarea{
		width: 250px;
	}

	.footer-distributed form button{
		padding: 10px 35px;
	}

}

@media (max-width: 800px) {

	.footer-distributed{
		padding: 30px;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		float: none;
		max-width: 300px;
		margin: 0 auto;
	}

	.footer-distributed .footer-left{
		margin-bottom: 40px;
	}

	.footer-distributed form{
		margin-top: 30px;
	}

	.footer-distributed form{
		display: block;
	}

	.footer-distributed form button{
		float: none;
	}
}

/*  footer end */


                                /* Media Query */

@media screen and (max-width: 960px) {
    
    .video-container .navbar-brand {
        font-size: 2em;
        margin-top: .50vh;
    }
    
    .navbar-brand2 {
    position: fixed;
    color: white;
    font-size: .9vh;
    margin-top: 4.0vh;
    margin-left: -9vw;
    }
    
    .navigation {
        height: 7vh;
    }

    .video-container .navbar-collapse {
        margin-left: 10px;
        border-top: none;
        box-shadow: none;
    }

    .video-container .navbar-nav>li>a {
    font-size: 12px;
    top: .3vh;
    }
    
    .video-container .overlay{
    height:5%;
    }
    
    .mainWrapper{
    font-size: 2vh;
    }
    
    .mainWrapperOne{
    width:85vw; 
    font-size: 2vh;
    }
    
    #image3 {
    height: 200px;
    margin: 0 0 10px 10px;
    float: left;
    
}
    

}

@media screen and (max-width: 500px) {
    .video-container .navbar-brand {
        font-size: 2em;
        margin-top: 0.5vh;
    }
    
        
    .navbar-brand2 {
    margin-top: 3.7vh;
    margin-left: -15vw;
    }
    
    .navigation {
        height: 6vh;
    }
    
    .navigation .navbar-toggle {
    margin-top: 1.5vh;
    }
    
    .video-container .overlay{
    height:5%;
    opacity:0.8;
    }

    #image1 {
    height: 200px;
    }
    
    #image2 {
    height: 200px;
    margin-right:5vw;
    }
    
    #image3 {
    height: 105px;
    margin-right: 6vw;
    }
    
    .mainWrapperOne{
    width:85vw; 
    font-size: 2vh;
    }
    
    .indBox {
    padding: 4px;
    margin: 4px;
    }
    
    .indBox h1 {
        font-size: 1.5em;
    }
}





